.Container {
  min-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

header {
    display: flex;
    gap: 8px;
    padding: 20px;
    height: 38px;
    background-color: #3379ab;
    position: relative;
    border-radius: 8px;
    box-shadow: -2px 12px 25px rgba(4, 7, 0, 13.1);
}

.Navigation {
  display: flex;
  justify-content: center;
}

.NavList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.NavItem {
  display: inline-block;
  margin-right: 10px;
}

.NavItem a {
    display: inline;
        padding: 8px 16px;
        color: white;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        text-shadow: 2px 2px 4px #000000;
        letter-spacing: 0.6px;
        transition: font-size 0.3s;
}

.NavItem a:hover {
font-size: 18px;
}

.SuspenseFallback {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}